<div class="container">
  <h1 class="title">Evaluations
      <button *ngIf='createPermissions' class="btn btn-primary create-btn" (click)="createEvaluation()">Create</button>
  </h1>
  <table class="table">
      <thead>
        <th *ngFor="let columnName of columns" scope="col">
            {{columnName}}
        </th>
      </thead>
      <tbody>
          <tr *ngFor="let evaluation of theEvaluations">
              <td scope="col">{{evaluation.grade}}</td>
              <td scope="col">{{getActivityName(evaluation.activity_id)}}</td>
              <td *ngIf='options' scope="col">
                  <button *ngIf='updatePermissions' class="btn btn-primary" (click)="updateEvaluation(evaluation.id)">Update</button>
                  <button *ngIf='deletePermissions' class="btn btn-danger" (click)="deleteEvaluation(evaluation.id)">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
