<div class="container">
  <h1 class="title">Subjects
      <button *ngIf='createPermissions' class="btn btn-primary create-btn" (click)="createSubject()">Create</button>
  </h1>
  <table class="table">
      <thead>
        <th *ngFor="let columnName of columns" scope="col">
          {{columnName}}
        </th>
      </thead>
      <tbody>
          <tr *ngFor="let subject of theSubjects">
              <td scope="col">{{subject.name}}</td>
              <td scope="col">{{subject.description}}</td>
              <td scope="col">{{subject.credits}}</td>
              <td scope="col">{{subject.code}}</td>
              <td *ngIf='options' scope="col">
                  <button *ngIf='updatePermissions' class="btn btn-primary" (click)="updateSubject(subject.id)">Update</button>
                  <button *ngIf='deletePermissions' class="btn btn-danger" (click)="deleteSubject(subject.id)">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
