<div class="container form-container">
  <div class="row">
      <h1 *ngIf="createMode">Create Proffesor</h1>
      <h1 *ngIf="!createMode">Update Proffesor</h1>
  </div>
  <div class="row">
      <div class="col-sm-3">
          <label>Name:</label>
      </div>
      <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="theProffesor.name">
      </div>
  </div>
  <div class="row">
      <div class="col-sm-3">
          <label>Email:</label>
      </div>
      <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="theProffesor.email">
      </div>
  </div>
  <div class="row">
      <div class="col-sm-3">
          <label>Password:</label>
      </div>
      <div class="col-sm-9">
          <input type="password" class="form-control" [(ngModel)]="theProffesor.password">
      </div>
  </div>
  <div class="row">
      <button class="btn cancel-btn btn-block" (click)="goBack()">
          Cancel
      </button>
      <button *ngIf="createMode"  class="btn btn-primary btn-block" (click)="create()">
          Create
      </button>
      <button *ngIf="!createMode"  class="btn btn-primary btn-block" (click)="update()">
          Update
      </button>
  </div>
</div>
