<!-- navbar.component.html -->

<nav class="navbar">
  <div class="navbar-brand">
    <a href="#">ABET</a>
  </div>
  <div class="navbar-menu">
    <a href="#">Inicio</a>
    <a href="#">Acerca de</a>
    <div class="dropdown">
      <button class="dropbtn">Más
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/Activities/list">Activities</a>
        <a href="/Evaluations/list">Evaluations</a>
        <a href="/Leaders/list">Leaders</a>
        <a href="/Proffesors/list">Proffesors</a>
        <a href="/Rubrics/list">Rubrics</a>
        <a href="/Subjects/list">Subjects</a>
      </div>
    </div>
  </div>
</nav>
