<div class="container">
  <h1 class="title">Proffesors
      <button class="btn btn-primary create-btn" (click)="createProffesor()">Create</button>
  </h1>
  <table class="table">
      <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Options</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let proffesor of theProffesors">
              <td scope="col">{{proffesor.name}}</td>
              <td scope="col">{{proffesor.email}}</td>
              <td scope="col">
                  <button class="btn btn-primary" (click)="updateProffesor(proffesor.id)">Update</button>
                  <button class="btn btn-danger" (click)="deleteProffesor(proffesor.id)">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
